TURSO_DATABASE_URL=libsql://asap-airsoft-db-shadowfiedl.aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODQ5NjE5MjEsImlkIjoiMDE5Zjk4MDUtMzUwMS03YjEyLWE4MzctNWUwODQxNWVmMWFkIiwia2lkIjoiRmQ3ZVQwQnlrUl9PVU02U0FJSU45ZGxyQTdra0dOZVR5UlJyUkMwdGhlMCIsInJpZCI6ImE0MDczMzBjLTFlZWYtNGY5NC1hYjBiLWY1MGM5YTNkNmQxMiJ9.ZBaqdugH7jFYMEAAjrXnwhV-Z9_iAY2j3Y2S_uAtBtd3JM-BQHBOgaXph40gzoydOXBHCEg84AzU2KIjjuZ1AQ
GOOGLE_CALENDAR_API_KEY=AIzaSyDESZ8vJgN7QVPGvqcbZX0OnpO1gDjHWFw
DISCORD_WEBHOOK_URL=
